fastapi
uvicorn[standard]
sqlmodel
pydantic
pydantic-settings
asyncpg
psycopg2-binary
alembic
sqlalchemy
better-exceptions
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart
python-dotenv
pytest
pytest-asyncio
httpx